@import "codemirror/lib/codemirror.css";
@import "codemirror/theme/material.css";

.vuep {
  display: flex;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  min-height: 460px;
  position: relative;

  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F5F5F5;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #F5F5F5;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #bbb;
    transition: all 0.5s;
  }

  ::-webkit-scrollbar-thumb:hover {
    border-radius: 8px;
    background-color: #777;
  }
}

.vuep-out-link {
  position: absolute;
  right: 10px;
  width: 45%;
  text-align: right;
  bottom: 3px;

  form {
    display: inline;
  }

  button {
    outline: 0;
    border: 0;
    background-color: transparent;
    color: #3eaf7c;
    font-size: 16px;
    cursor: pointer;
  }
}

.vuep-editor, .vuep-preview, .vuep-error {
  border-radius: 2px;
  height: inherit;
  margin-right: 10px;
  overflow: auto;
  width: 50%;

  &:last-child {
    margin-right: 0;
  }

  .CodeMirror {
    height: inherit;
  }
}

.vuep-editor {
  line-height: 1.2em;
}

.vuep-error {
  color: #f66;
}

.vuep-preview, .vuep-error {
  border: 1px solid #eee;
  box-sizing: border-box;
  padding: 25px 35px;
}

@media (max-width: 600px) {
  .vuep {
    display: block;
    height: auto;
  }

  .vuep-editor, .vuep-preview, .vuep-error {
    margin: 0 0 15px 0;
    height: 400px;
    width: 100%;
  }
}
